<div class="jumbotron">
    <h1>Workout Longue!</h1>
    <p>Show off your workout</p>
</div>

<div class="row">
    <div class="col-md-10">
        <h2> List of Members </h2>
    </div>
</div>

<div class="row">
    <% @athletes.each do |athlet| %>
        <div class="col-md-10 well member">
            <%= athlet.full_name %>
        </div>
    <% end %>
</div>